@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin backgroundCover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@mixin backgroundContain {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
@mixin lineClamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin lineClamp7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin positionAbs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@mixin bottomCenter {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin harshBlur {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}
