// COLOR VARIABLES
$color-primary: #b9a38d;
$color-primary-light: #ffca95;
$color-primary-dark: #181b2e;
$color-primary-dark-2: #373b62;

$color-secondary: #101d2c;

$color-alt-bg: #f0f1eb;
$color-bg-dark: #2e2d2b;
$color-bg-light: #f7f5f2;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #76736e;
$color-grey-dark-2: #6d5d4b;

$color-white: #f7f5f2;
$color-off-white: #fdfdfc;
$color-black: #181b2e;

// SITE MEASURMENTS
$headerheight: 0rem;

// FONT VARIABLES
$font-primary: "lato", sans-serif;
$font-header: "temeraire", serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 54em; // 800px;
$bp-small: 37.5em; // 600px;
