footer {
  background-color: $color-primary-dark;
  background-image: url(./inc/img/footer.svg);
  color: $color-white;
  text-align: center;

  .footer-gutter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0 10rem;
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 10rem 0 3rem;
    }
    .terms {
      text-align: center;
    }
    .footer__social {
      display: flex;
      justify-content: center;
    }
    .social-links {
      display: flex;
      list-style: none;
      i {
        color: $color-white;
        font-size: 1.25rem;
        padding: 2rem;
        transition: all 0.2s;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  .footer-logo {
    text-align: center;
    #footer_logo {
      path {
        fill: $color-primary;
      }
    }
    #footer_one,
    #footer_two {
      path {
        fill: $color-white;
      }
    }
    svg {
      width: 20rem;
    }
  }
  .latest-images {
    padding: 10rem 0;
    .heading-2 {
      padding: 0 0 5rem;
    }
  }
}

.silverless {
  text-align: center;
  margin-top: 1rem;

  #logo {
    width: 10rem;
    height: 3rem;
    path {
      fill: white;
    }
  }

  #silverless {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
  }

  #created {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s transform ease, 2s opacity ease;
  }

  &:hover {
    cursor: pointer;

    #silverless {
      opacity: 0.8;
    }

    #created {
      opacity: 0.8;
      transform: translateY(0);
    }
  }
}
#copyright {
  padding-top: 0;
  background: white;
}
.footer-accordian {
  padding: 5rem 3rem;
  @media only screen and (min-width: $bp-large) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    border: 1px solid $color-primary;
    padding: 0rem;
    margin-top: 15rem;
  }
  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid $color-white;
    cursor: pointer;

    i {
      transition: 0.5s all ease;
    }
    &.active {
      i {
        transform: rotate(180deg);
      }
    }
  }
  &--links {
    @media only screen and (min-width: $bp-large) {
      grid-column: 1;
      grid-row: 1;
      padding: 5rem;
      border-right: 1px solid $color-primary;
      .footer-accordian--heading {
        display: none;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media only screen and (min-width: $bp-large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2rem;
        // li {
        //   flex-basis: 33.33%; /* Each column takes up one-third of the container */
        //   text-align: left; /* Align the content of each column to the left */
        //   flex: unset;
        // }

        // li:nth-child(2) {
        //   text-align: center; /* Align the content of the center column to the center */
        // }

        // li:nth-child(3) {
        //   text-align: right; /* Align the content of the right column to the right */
        // }
      }
      li {
      }
      a {
        color: $color-white;
        font-size: 1.6rem;
        font-family: $font-header;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  &--pub {
    @media only screen and (min-width: $bp-large) {
      grid-column: 2;
      grid-row: 1;
      padding: 5rem 0 0 3rem;
      .footer-accordian--heading {
        border-bottom: none;
        padding: 2rem 0 0;
        i {
          display: none;
        }
      }
    }
  }
  &--kitchen {
    @media only screen and (min-width: $bp-large) {
      grid-column: 3;
      grid-row: 1;
      padding: 5rem 0 0;
      .footer-accordian--heading {
        border-bottom: none;
        padding: 2rem 0 0;
        i {
          display: none;
        }
      }
    }
  }
  &--contact {
    .spacer-bar {
      display: none;
    }
    @media only screen and (min-width: $bp-large) {
      grid-column: 1;
      grid-row: 2;
      border-right: 1px solid $color-primary;
      border-top: 1px solid $color-primary;
      .footer-accordian--heading {
        display: none;
      }
      .spacer-bar {
        display: flex;
      }
    }
  }
}
.footer-accordian--content {
  padding: 2rem 0;
  display: none;
  @media only screen and (min-width: $bp-large) {
    display: flex;
    flex-direction: column;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      text-align: left;
      align-items: center;
      justify-content: center;
      grid-gap: 3rem;
    }
  }
  .email,
  .phone,
  .address {
    padding-top: 2rem;
    font-size: 1.6rem;
    a {
      color: $color-white;
    }
    @media only screen and (min-width: $bp-large) {
      padding-top: 0;
    }
  }
  @media only screen and (min-width: $bp-large) {
    text-align: left;
    justify-content: space-between;
  }
}
