footer {
  background-color: $color-primary-dark;
  background-image: url(./inc/img/footer.svg);
  color: $color-white;
  text-align: center;

  .footer-gutter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .terms {
      text-align: center;
    }
    .social-links {
      display: flex;
      list-style: none;
      i {
        color: $color-white;
        font-size: 1.25rem;
        padding-right: 2rem;
        transition: all 0.2s;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  .footer-logo {
    text-align: center;
    #footer_logo {
      path {
        fill: $color-primary;
      }
    }
    #footer_one,
    #footer_two {
      path {
        fill: $color-white;
      }
    }
    svg {
      width: 20rem;
    }
  }
  .latest-images {
    padding: 10rem 0;
    .heading-2 {
      padding: 0 0 5rem;
    }
  }
}

.silverless {
  text-align: center;
  margin-top: 1rem;

  #logo {
    width: 10rem;
    height: 3rem;
    path {
      fill: white;
    }
  }

  #silverless {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
  }

  #created {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s transform ease, 2s opacity ease;
  }

  &:hover {
    cursor: pointer;

    #silverless {
      opacity: 0.8;
    }

    #created {
      opacity: 0.8;
      transform: translateY(0);
    }
  }
}
#copyright {
  padding-top: 0;
  background: white;
}
.footer-accordian {
  padding: 5rem 0;
  &--heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid $color-white;
    cursor: pointer;

    i {
      transition: 0.5s all ease;
    }
    &.active {
      i {
        transform: rotate(180deg);
      }
    }
  }
  &--links {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media only screen and (min-width: $bp-large) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        li {
          flex-basis: 33.33%; /* Each column takes up one-third of the container */
          text-align: left; /* Align the content of each column to the left */
          flex: unset;
        }

        li:nth-child(2) {
          text-align: center; /* Align the content of the center column to the center */
        }

        li:nth-child(3) {
          text-align: right; /* Align the content of the right column to the right */
        }
      }
      li {
      }
      a {
        color: $color-white;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
.footer-accordian--content {
  padding: 2rem 0;
  display: none;
  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $bp-large) {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
    }
  }
  .email,
  .phone,
  .address {
    padding-top: 2rem;
    font-size: 1.6rem;
    a {
      color: $color-white;
    }
  }
  @media only screen and (min-width: $bp-large) {
    text-align: left;
    justify-content: space-between;
  }
}
