.section-card {
}
.triple-cards {
  display: flex;
  flex-direction: column;
  &--card {
    position: relative;
    min-height: 50rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1;
    }
    .top-link {
      align-self: flex-end;
      height: 5rem;
      width: 5rem;
      display: grid;
      place-content: center;
      border: 1px solid $color-black;
      &:hover {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
    i {
      font-size: 3rem;

      padding: 0.5rem 1rem;
      &:hover {
      }
    }
  }
  @media only screen and (min-width: $bp-large) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
.card {
  @media only screen and (min-width: $bp-large) {
    padding: 0 5rem;
  }
  &__fullwidth {
    position: relative;
    min-height: 45rem;
    .row.fullwidth-text--wrapper {
      display: block;
      align-self: flex-end;
      grid-column: full-start / full-end;
      @media only screen and (min-width: $bp-large) {
        grid-column: full-start / full-end;
      }
    }
    img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-text {
      padding: 1rem 2rem;
      background: rgba($color-primary-dark-2, 0.65);
      display: flex;
      // flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @media only screen and (min-width: $bp-small) {
        padding: 2rem 5rem;
        justify-content: space-between;
      }
      p {
        color: $color-primary;
        &:first-of-type {
          color: $color-white;
        }
      }

      a {
        width: 5rem;
        height: 5rem;
        display: grid;
        place-content: center;
        font-size: 4rem;
        color: $color-primary;
        cursor: pointer;

        &:hover {
        }
        i {
          padding: 1rem 2rem;
          &:hover {
            color: $color-black;
          }
        }
      }
    }
    &.saturate {
      img {
        filter: saturate(1.5);
      }
    }
  }
}
.boxed-card {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (min-width: $bp-large) {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  &--image {
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
    }
    &.map {
      display: grid;
      width: 100%;
      height: 35rem;
      @media only screen and (min-width: $bp-large) {
        height: unset;
      }
    }
  }
  &.right {
    flex-direction: row-reverse;
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: 3fr 2fr;
      .boxed-card--text {
        grid-column: 2;
        grid-row: 1;
      }
      .boxed-card--image {
        grid-column: 1;
        grid-row: 1;
      }
    }
    .boxed-card--text {
      @media only screen and (min-width: $bp-large) {
        margin-right: 0;
        margin-left: -10vw;
      }
    }
  }
  &--text {
    display: flex;
    align-items: center;
    z-index: 3;
    @media only screen and (min-width: $bp-large) {
      margin-right: -10vw;
    }

    .text-box {
      border: 1px solid $color-primary;
      background: $color-off-white;
      padding: 8rem 2rem;

      flex: 1;
      @media only screen and (min-width: $bp-large) {
        margin: 4rem 0;
        padding: 8rem;
      }
      p {
        &:first-of-type {
          font-size: 1.8rem;
          font-style: italic;
        }
      }
    }
    .text-box.quote {
      p {
        position: relative;
        font-style: initial;
        font-size: initial;
      }
      p::before {
        content: open-quote;
        color: $color-primary;
        font-family: $font-header;
        font-size: 4.5rem;
        position: absolute;
        top: -3rem;
        left: 0;
        @media only screen and (min-width: $bp-large) {
          left: -3rem;
        }
      }
      p::after {
        content: close-quote;
        color: $color-primary;
        font-family: $font-header;
        font-size: 4.5rem;
        position: absolute;
        right: 1rem;
        padding-top: 2rem;
      }
    }
    .quote-cite {
      display: block;
      color: $color-primary;
      font-family: $font-header;
      font-size: 1.6rem;
      padding: 2rem 0 0;
    }
  }
}
.pointer {
  color: $color-white;
  text-align: right;
  font-family: $font-header;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  @media only screen and (min-width: $bp-small) {
    width: 15rem;
    justify-content: flex-end;
  }
  span {
    width: 5rem;
  }
  svg {
    margin-left: 1rem;
  }
  div {
    display: none;
    @media only screen and (min-width: $bp-small) {
      width: 12rem;
      display: block;
    }
  }
}
