.hero-wrapper {
  section {
    &.home-video {
      padding: 0;
      height: 100vh;
      display: grid;
      place-content: center;
      video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .hero-textblock {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  // svg {
  //   display: flex;
  //   width: 45rem;
  //   margin-top: 3rem;
  // }
  .more {
    font-size: 1.5rem;
  }
  .booking-bar {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: $font-header;
    svg {
      margin: 0 2rem;
    }
    span {
      font-style: italic;
      padding-right: 1rem;
    }
    a {
      color: $color-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (min-width: $bp-large) {
      display: flex;
    }
  }
  .room-bar {
    grid-column: full-start / full-end;
    background-color: $color-primary-dark;
    color: $color-white;
    padding: 1rem;
    &--wrapper {
      display: flex;
      justify-content: space-between;
    }
    &--summary {
      display: flex;
      align-items: flex-start;
      grid-gap: 1rem;
      font-size: 1.6rem;
      flex-direction: column;
      i {
        padding-right: 1rem;
      }
      @media only screen and (min-width: $bp-large) {
        flex-direction: row;
        align-items: center;
        grid-gap: 4rem;
      }
    }
    &--price {
      border-left: 2px solid $color-primary-dark-2;
      padding-left: 2rem;
      @media only screen and (min-width: $bp-large) {
        padding-left: 8rem;
      }
      .price {
        font-size: 2.5rem;
      }
      .basis {
      }
    }
  }
}
.hero-menu {
  width: 100%;
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      // flex: 1 1 200px;
      // text-align: center;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary-dark;
        font-size: 2.7rem;
        letter-spacing: 2.5px;
      }
    }
  }
}
.hero-wrapper {
  padding-bottom: 0rem;
  position: relative;
  section.container {
    height: 60vh;
    min-height: 35rem;
    padding-top: 0;
    grid-template-rows: 1fr;
    video {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &.full-image {
      @include backgroundCover;
      box-shadow: inset 0 0 0 1000px rgba(#373b62, 0.3);

      .hero-textblock {
        // grid-column: center-start / center-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3rem;
        color: $color-white;

        @media only screen and (min-width: $bp-small) {
          text-align: left;
          padding: 0 20vw 0 3rem;
        }

        @media only screen and (min-width: $bp-large) {
          padding: 0 5rem;
          text-align: center;
        }

        .heading-1 {
          font-size: 3rem;
          @media only screen and (min-width: $bp-small) {
            font-size: 6rem;
          }
        }
        .hero-para {
          padding: 2rem 0 0;
        }
        p {
          font-size: 1.6rem;
          &:first-of-type {
            font-style: italic;
            font-size: 1.8rem;
          }
        }
        .booking-buttons {
          align-self: self-start;
          display: none;
          grid-gap: 3rem;
          @media only screen and (min-width: $bp-large) {
            display: flex;
          }
          .button {
            color: $color-white;
            border-color: $color-white;
          }
        }
      }
    }
    &.hero-full {
      height: calc(100vh - $headerheight);
      display: grid;

      .center {
        display: grid;
        place-content: center;
        border: 1px solid $color-white;
        width: 5rem;
        height: 5rem;
      }
      .hero-slider,
      .slider-image,
      video {
        height: calc(100vh - $headerheight);
      }
      video {
      }
    }
    &.hero-75 {
      height: calc(100vh - $headerheight);
      @media only screen and (min-width: $bp-large) {
        height: calc(75vh - $headerheight);
      }
      .hero-slider,
      .slider-image,
      video {
        height: calc(75vh - $headerheight);
      }
    }
    &.hero-50 {
      height: calc(100vh - $headerheight);
      @media only screen and (min-width: $bp-large) {
        height: calc(50vh - $headerheight);
      }
      .hero-slider,
      .slider-image,
      video {
        height: calc(50vh - $headerheight);
      }
    }
    &.anchor-bottom {
      background-position: bottom;
    }
    &.anchor-top {
      background-position: top;
    }
  }
}
.error404 {
  .hero-wrapper {
    section.header {
      height: calc(100vh - 17rem);
      grid-template-rows: 1fr 2fr;
      .heading-1 {
        font-size: 6rem;
      }
    }
  }
}
.hero-slider {
  grid-column: full-start / full-end;
  height: 40vh;
  @include positionAbs;
  .slider-image {
    @include backgroundCover;
  }
}
.center-wrapper {
  position: absolute;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  .center {
    display: grid;
    place-content: center;
    border: 1px solid $color-white;
    width: 5rem;
    height: 5rem;
    i {
      color: $color-white;
      font-size: 3rem;
    }
    &.bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}
.hero-logo {
  svg {
    padding: 3rem;
  }
  #large-logo {
    path {
      fill: $color-white;
    }
  }
}
#scroll-down-arrow {
  cursor: pointer;
}
