section.section-map {
  padding-top: 0 !important;
}
.map-wrapper {
  position: relative;
}
#map {
  height: 80vh;
  margin-bottom: 5rem;
  &::after {
    content: "";
    background: rgb(239, 236, 233);
    background: linear-gradient(
      0deg,
      rgba(239, 236, 233, 1) 10%,
      rgba(239, 236, 233, 0.5) 50%,
      rgba(239, 236, 233, 0) 100%
    );
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 0;
  }
  .marker {
    color: #ff9452;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #2e2d2b;
    display: grid;
    place-content: center;
    transition: width 0.5s, height 0.5s;
    &.active {
      background: #ff9452;
      color: #ffffff;
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
    }
  }
}
.point-controls {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  &--wrapper {
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
  }
  .next,
  .prev {
    i {
      font-size: 3rem;
      cursor: pointer;
      border: 1px solid $color-black;
      padding: 0.5rem 1rem;
    }
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
  .heading-1 {
    text-transform: initial;
  }
}
#map-settings {
  position: absolute;
  top: 0;
  background-color: white;
  padding: 1rem;
  margin: 2rem;
}
#info-panel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-grey-dark-1;
  color: $color-white;
  margin: 5rem;
  width: 30rem;
  img {
    width: 30rem;
  }
  h3 {
    text-align: center;
    padding: 1rem 1rem 0;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 400;
  }
  p {
    text-align: center;
    padding: 1rem 2rem;
  }
  .map-link {
    color: $color-primary;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-header;
    padding: 0 2rem 2rem;
  }
}

.custom-marker {
  background-color: #ff9452;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.custom-marker.active {
  background-color: #007bff;
}

.custom-marker-label {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ffffff;
}

.info-panel {
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-description {
  font-size: 14px;
}
