.section-text-block {
  .text {
    .text-block {
      @media only screen and (min-width: $bp-large) {
        padding: 0 5rem;
      }
      &.align-left {
        text-align: left;
      }
      &.align-cent {
        text-align: center;
      }
      &.align-right {
        text-align: right;
      }
      // a {
      //   color: $color-primary;

      //   font-family: $font-header;
      // }
      .read-more-link {
        padding-top: 0;
      }
      h2 {
        padding-bottom: 3rem;
      }
      p {
        font-size: 1.6rem;
        &:first-of-type {
          font-size: 1.8rem;
          font-style: italic;
        }
      }
      h5 {
        font-size: 1.4rem;
        color: $color-primary;
        font-family: $font-header;
        font-style: italic;
        padding: 2rem 0 0;
        font-weight: 100;
      }
    }
    &__one {
    }
    &__two {
      columns: 2;
      column-gap: 2rem;
    }
    &__quote {
      display: flex;
      flex-wrap: wrap;
      > div {
        flex: 1 1 30rem;
      }
      .quote {
        padding: 0 4rem;
        font-size: 2.6rem;

        color: $color-primary;
      }
    }
    &__image {
      // img {
      //   width: 40rem;
      // }
      .left {
        display: none;
        float: left;
        padding: 0;
        @media only screen and (min-width: $bp-medium) {
          display: block;
        }
        img {
          width: 100%;
          height: auto;
        }
        @media only screen and (min-width: $bp-large) {
          padding: 0 4rem 1rem 0;
        }
      }
      .right {
        display: none;
        float: right;
        padding: 0;
        @media only screen and (min-width: $bp-medium) {
          display: block;
        }
        img {
          width: 100%;
          height: auto;
        }
        @media only screen and (min-width: $bp-large) {
          padding: 0 0 1rem 4rem;
        }
      }
      .mobile-image {
        img {
          margin: 2rem 0;
          width: 100%;
          object-fit: cover;
        }

        @media only screen and (min-width: $bp-medium) {
          display: none;
        }
      }
    }
  }
}
.title-block {
  padding: 5rem 0 0;
  &--heading {
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}
.section-text-image-block {
  padding-bottom: 15rem;
  .image-block {
    grid-column: center-start / center-end;
    height: calc(100vh - 26rem);
    position: sticky;
    top: 6rem;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media only screen and (min-width: $bp-medium) {
      grid-column: col-start 7 / full-end;
      margin: 0 10rem 10rem 0;
      padding-top: 10rem;
    }
  }

  .text-block {
    grid-column: center-start / center-end;
    padding: 0 0 5rem 0;
    h2 {
      padding-bottom: 3rem;
    }
    @media only screen and (min-width: $bp-medium) {
      grid-column: col-start 2 / col-end 6;
      padding: 40vh 20% 5rem 0;
    }
  }
}
.breadcrumb {
  text-align: center;
  padding: 5rem 0 10rem;

  .current {
    color: $color-primary;
  }
}
article {
  &.double {
    @media only screen and (min-width: $bp-medium) {
      column-count: 2;
      column-gap: 2rem;
    }
  }
}
