*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  // @media only screen and (max-width: $bp-largest) {
  //   font-size: 50%;
  // }
}

body {
  font-family: $font-primary;
  background-color: $color-bg-light;
  color: $color-primary-dark;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: $color-black;
}
.skip-to-content-link {
  background: $color-primary-dark;
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  height: 3rem;
  left: 50%;
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -10rem);
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  z-index: 100;
}

.skip-to-content-link:focus {
  transform: translate(-50%, 1rem);
}
.watermark {
  position: relative;
  // top: 50vh;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -30vw;
  opacity: 0.1;
  &.right {
    left: unset;
    right: -30vw;
  }
  &.blank {
    top: 5vh;
  }
  &--image {
    position: absolute;
    height: 100vh;
    width: 100%;
    img {
      height: 100vh;
      width: 100%;
    }
  }
}
.site-main {
  overflow: hidden;
}
.background-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
